@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}

:root {

      --primary-color: #03045E;
      --secondary-color: #F5F5F5;
      --black-color: #232020;
      --box-shadow-black-color: #000000bf;
      --searchbar-color: #e0e0e0;
      --badge-color: #ff0000;
      --hover-color: #00B4D8;
      --feature-background: #0000004d;
      --red: #ff0000;
      --discount: #555555;
      --box-shadow-black-color: #000000bf;
      --grey-color: #787A91;
      --sidebar-hover: #FB3640;
      --red-color: #ff0000;
      --container-border: #c0c0c0;
      --secondary-button-bg: #E7FBBE;
      /* Navbar color */
      --navbar-bg-color: #F5F5F5;
      --navbar-color: #03045E;
      --searchbar-color: #e0e0e0;
      --badge-color: #ff0000;

      /* Button Colors */
      --cart-button-bg: #03045E;
      --discount: #555555;
      --text-overlay-bg: #0000004d;

      /* badge color */
      --card-details-bg: #E7E7DE;
      --new-badge-bg: #ff3f6ccc;
      --new-badge-color: #fff;

}