.brand-container {
      width: 100%;
      height: 100%;
}

.navigation-cont {
      height: 4rem;
}

/* Main Content Code Start */

.main-content-cont {
      width: 100%;
      height: 70%;
}

.home-sec-image {
      width: 100%;
      position: relative;
}

.home-sec-image img {
      width: 100%;
      opacity: 0.8;

}

.home-title {
      position: absolute;
      top: 40%;
      right: 25%;
      font-size: 2.5rem;
      font-weight: 900;
      color: var(--primary-color);
      font-family: 'Recursive', sans-serif;

}

.home-heading-h2 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 1rem;
      color: var(--primary-color);
}

.best-sell-para {
      font-size: 1rem;
      width: 50%;
      margin: auto;
}

.best-sell-cont {
      position: relative;
      height: 25%;
      width: 25%;
      border-radius: 0.2rem;
      margin: 3rem;
      display: inline-block;
}

.best-sell-heading a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--feature-background);
      color: var(--secondary-color);
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
}

.best-sell-cont img {
      width: 100%;
      height: 100%;
}

/* Footer Code Start */
.footer {
      background-color: var(--primary-color);
      padding: 2rem 1rem;
      text-align: center;
      color: var(--secondary-color);
      height: 10rem;
      font-weight: 600;
}

.link {
      box-sizing: border-box;
      text-decoration: none;
      padding: 0.5rem 1rem;
}

.social-link {
      text-decoration: none;
      list-style: none;
      display: flex;
}

.footer .link {
      color: var(--secondary-color);
      font-weight: 600;
}

.link:hover {
      color: var(--hover-color);
}

.footer .footer-header {
      font-weight: bold;
      font-size: large;
}

.footer ul {
      display: flex;
      align-items: center;
      justify-content: center;
}

.margin-top {
      margin-top: 1rem;
}

.copyright {
      font-size: 0.8rem;
}