@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}

:root {
      --primary-color: #00B4D8;
      --secondary-color: #90E0EF;
      --navyblue-color: #03045E;
      --white-color: #FFFFFF;
      --black-color: #232020;
      --box-shadow-black-color: rgba(0, 0, 0, 0.75);
      --box-shadow-blue-color: rgba(0, 180, 216, 0.39);
      --pink-color: #F21170;
      --grey-color: rgb(158, 154, 154);
      --red-color: rgb(250, 28, 28);
}

.brand-container {
      width: 100%;
      height: 100%;
}

/* Navigation Code Start */
.navigation-cont {
      width: 75.9rem;
      height: 5rem;
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: var(--navyblue-color);
}

.name-of-site {
      margin-right: 4rem;
      font-size: 2rem;
      font-weight: bolder;
      cursor: pointer;
}

.name-of-site:hover {
      color: var(--pink-color);
      text-shadow: 1px 2px 3px var(--pink-color);
}

.searchbar {
      width: 20rem;
      height: 2rem;
      background-color: var(--white-color);
      border-radius: 1rem;
      display: flex;
      align-items: center;
      padding: 1rem;
      background-color: var(--secondary-color);
}

.fa-search {
      font-size: 1rem;
      color: var(--navyblue-color);
}

.search-input {
      border: none;
      outline: none;
      padding-left: 0.4rem;
      font-size: 1rem;
      flex: 1;
      height: 2rem;
      font-weight: 600;
      background-color: var(--secondary-color);
}

.nav-buttons-cont {
      display: flex;
}

.nav-button {
      padding: 0.4rem;
}

.nav-button i {
      font-size: 1.5rem;
}

.login-btn {
      margin-left: 1.5rem;
      border: none;
      cursor: pointer;
}

.nav-button a {
      font-size: 1.3rem;
      text-decoration: none;
      color: var(--navyblue-color);
      font-weight: 600;
}

.login-btn a:hover {
      color: var(--pink-color);
      text-shadow: 1px 2px 3px var(--pink-color);
}

.nav-icons-name {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      outline: none;
      border-radius: 50%;
      margin-left: 1.5rem;
      font-size: 1.5rem;
      color: var(--white-color);
}

.icon-badge {
      position: absolute;
      top: -10px;
      right: -6px;
      width: 1.3rem;
      height: 1.3rem;
      background: var(--red-color);
      color: var(--white-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 1rem;
}

/* Main Content Code Start */

.main-body-sec {
      display: flex;
      width: 75.9rem;
      height: 100%;
}

/* Sidebar code */
.sidebar-filter-sec {
      width: 20rem;
      height: 30rem;
      background-color: #bdecfc;
}

.filter-sidebar-heading {
      margin: 1rem;
      display: flex;
      justify-content: space-between;
}

.filter-sidebar-price {
      margin: 0.6rem;
}

.price span {
      padding: 0.6rem;
}

.filter-sidebar-category {
      margin: 1rem;
}

/* sidebar code end */

/* Product page code start */
.products-title {
      text-align: center;
      color: var(--navyblue-color);
      margin: 1rem 0 2rem 0;
      font-size: 1.5rem;
      font-weight: bold;
}

.horizontal-card-flex {
      display: flex;
      justify-content: space-evenly;
}

.products-sec {
      width: 75rem;
      height: 80rem;
}

.card-container {
      position: relative;
      width: 11.4rem;
      height: 20.5rem;
      border-radius: 0.2rem;
      margin: 2rem 0 1rem 2rem;
      display: inline-block;
      box-shadow: -1px 5px 11px -1px rgba(0, 0, 0, 1);
      -webkit-box-shadow: -1px 5px 11px -1px rgba(0, 0, 0, 1);
      -moz-box-shadow: -1px 5px 11px -1px rgba(0, 0, 0, 1);
      background-color: var(--white-color);
}

.card-image img {
      width: 11.4rem;
      border-top-right-radius: 0.2rem;
      border-top-left-radius: 0.2rem;
}

.card-title {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
}

.card-des {
      text-align: center;
      padding: 0.2rem;
      font-size: 0.8rem;
}

.card-price-cont {
      padding: 0.8rem;
      display: flex;
      text-align: center;
      justify-content: space-between;
      font-size: 0.7rem;
}

.price {
      color: var(--black-color);
      font-weight: bold;
}

.price-discount {
      text-decoration: line-through;
      color: var(--grey-color);
}

.price-OFF {
      color: var(--red-color);
      font-weight: bold;
}

.dismiss {
      position: absolute;
      right: 0.1rem;
      top: 0.2rem;
      cursor: pointer;
      color: var(--red-color);
      font-size: 1rem;
      background: var(--white-color);

}

#wishlist-heart {
      margin: 0.4rem 0.8rem 0 0;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

}

/* Add to cart button */
.icon-button-cont {
      margin-left: 0.3rem;
}

.fa-shopping-cart {
      margin-right: 0.6rem;
}

.cart-button {
      width: 10.4rem;
      background: var(--pink-color);
      padding: 0.6rem;
      box-shadow: -1px 4px 19px -4px rgba(0, 0, 0, 0.61);
      -webkit-box-shadow: -1px 4px 19px -4px rgba(0, 0, 0, 0.61);
      -moz-box-shadow: -1px 4px 19px -4px rgba(0, 0, 0, 0.61);
      border: none;
      font-size: 0.8rem;
      font-weight: 600;
      color: var(--white-color);

}

.cart-button:hover {
      background-color: var(--primary-color);
}